version: '3'
services:
  server:
    build: .
    ports:
      - ${PORT}:${PORT}
    depends_on:
      - database
    environment:
      POST: ${POST}
    restart: on-failure
    networks:
      - server-network
    volumes:
      - ./src:/urs/app/src
      - ./logs:/urs/app/logs
      - ./node_modules:/urs/app/node_modules

  database:
    build: ./database/
    ports:
      - ${POSTGRES_PORT}:${POSTGRES_PORT}
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    restart: on-failure
    networks:
      - server-network
    volumes:
      - ./database:/urs/app/database

networks:
  server-network:
    driver: bridge
