version: '3'
services:
  server:
    build: .
    image: 'kyleshovbb/task-manager-system:server'
    ports:
      - ${PORT}:${PORT}
    depends_on:
      - database
    environment:
      POST: ${POST}
    restart: on-failure
    networks:
      - server-network
    volumes:
      - ./src:/urs/app/src
      - ./logs:/urs/app/logs
      - ./node_modules:/urs/app/node_modules

  database:
    build: ./database/
    image: 'kyleshovbb/task-manager-system:database'
    ports:
      - ${DB_PORT}:${DB_PORT}
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_PORT: ${DB_PORT}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    restart: on-failure
    networks:
      - server-network
    volumes:
      - ./pgdata:/var/lib/postgresql/data

networks:
  server-network:
    driver: bridge
