version: '3'
services:
  database:
    container_name: 'my-database'
    build: ./database/
    image: 'kyleshovbb/task-manager-system:database'
    ports:
      - ${DB_PORT}
    env_file:
      - .env
    restart: on-failure
    networks:
      - server-network
    volumes:
      - ./database/data:/var/lib/postgresql/data

  server:
    build: .
    image: 'kyleshovbb/task-manager-system:server'
    ports:
      - ${PORT}:${PORT}
    depends_on:
      - database
    links:
      - database
    env_file:
      - .env
    restart: on-failure
    networks:
      - server-network
    volumes:
      - ./src:/urs/app/src
      - ./logs:/urs/app/logs
      - ./node_modules:/urs/app/node_modules

networks:
  server-network:
    driver: bridge
